{% extends "layout.html" %}

{% block content %}
	<div class="yui-bc">
		<ul class="yui-bc_items">
			<li class="yui-bc_item">
				<a class="yui-bc_link" href="/">Главная</a> <span class="yui-bc_divide">&rarr;</span>
			</li>
			<li class="yui-bc_item">
				<a class="yui-bc_link" href="/employees">Сотрудники</a>
			</li>
			<li class="yui-bc_item bc_item--active">
				<a class="yui-bc_link" href="">Создать сотрудника</a>
			</li>
		</ul>
	</div>
	<h1>Создать сотрудника</h1>
	<form method="POST" action="/employees">
		ФИО: <input type="text" name="fullname"><br>
		Дата рождения: <input type="date" name="birthday"><br>
		Департамент: <input type="text" name="department_id"><br>
		<input type="submit" value="Создать">
	</form>
	
{% endblock %}